In [2]:
import pandas as pd
import numpy as np

In [4]:
Crime_df = pd.read_csv('C:\\Users\\vamsh\\Documents\\Uni\\UChicago\\Autumn 2022\\MSCA 31012_IP02 - Data Engineering Platforms for Analytics\\Project\\Data\\Crimes_Circa_2022_final1.csv', encoding = 'utf-8', header = 0)

In [5]:
Crime_df.head(5)

,CRIMEID,CASE NUMBER,DATE,BLOCK,PRIMARY TYPE,DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,DISTRICT,COMMUNITY AREA,LATITUDE,LONGITUDE,LOCATION
0,12767443,JF325104,06/30/2022 08:00:00 AM,046XX N DOVER ST,THEFT,FROM BUILDING,APARTMENT,False,False,19,3,41.965890,-87.665555,"(41.965890278, -87.665555028)"
1,12768376,JF326399,07/20/2022 12:40:00 PM,029XX W 25TH ST,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,10,30,41.846399,-87.699614,"(41.84639902, -87.699614045)"
2,12764940,JF322387,07/18/2022 05:00:00 PM,004XX E 89TH ST,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,6,44,41.732859,-87.613825,"(41.73285929, -87.613824932)"
3,12770333,JF328642,07/23/2022 01:59:00 PM,045XX N FRANCISCO AVE,THEFT,OVER $500,STREET,False,False,17,14,41.963520,-87.700981,"(41.963519549, -87.70098077)"
4,12766636,JF324240,07/20/2022 04:10:00 AM,055XX S PRAIRIE AVE,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,2,40,41.793588,-87.619197,"(41.793588428, -87.619196923)"

In [8]:
# Changing format of 'DATE' to remove the AM/PM
Crime_df['DATE'] = pd.to_datetime(Crime_df['DATE'])
Crime_df['DATE']

0        2022-06-30 08:00:00
1        2022-07-20 12:40:00
2        2022-07-18 17:00:00
3        2022-07-23 13:59:00
4        2022-07-20 04:10:00
                 ...
192991   2022-06-09 00:00:00
192992   2022-06-24 15:43:00
192993   2022-07-01 17:29:00
192994   2022-07-01 19:13:00
192995   2022-07-01 10:45:00
Name: DATE, Length: 192996, dtype: datetime64[ns]

In [10]:
Crime_df.head(5)

,CRIMEID,CASE NUMBER,DATE,BLOCK,PRIMARY TYPE,DESCRIPTION,LOCATION DESCRIPTION,ARREST,DOMESTIC,DISTRICT,COMMUNITY AREA,LATITUDE,LONGITUDE,LOCATION
0,12767443,JF325104,2022-06-30 08:00:00,046XX N DOVER ST,THEFT,FROM BUILDING,APARTMENT,False,False,19,3,41.965890,-87.665555,"(41.965890278, -87.665555028)"
1,12768376,JF326399,2022-07-20 12:40:00,029XX W 25TH ST,BATTERY,DOMESTIC BATTERY SIMPLE,SIDEWALK,False,True,10,30,41.846399,-87.699614,"(41.84639902, -87.699614045)"
2,12764940,JF322387,2022-07-18 17:00:00,004XX E 89TH ST,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,6,44,41.732859,-87.613825,"(41.73285929, -87.613824932)"
3,12770333,JF328642,2022-07-23 13:59:00,045XX N FRANCISCO AVE,THEFT,OVER $500,STREET,False,False,17,14,41.963520,-87.700981,"(41.963519549, -87.70098077)"
4,12766636,JF324240,2022-07-20 04:10:00,055XX S PRAIRIE AVE,BATTERY,DOMESTIC BATTERY SIMPLE,APARTMENT,False,True,2,40,41.793588,-87.619197,"(41.793588428, -87.619196923)"

In [11]:
Crime_df.to_csv('C:\\Users\\vamsh\\Documents\\Uni\\UChicago\\Autumn 2022\\MSCA 31012_IP02 - Data Engineering Platforms for Analytics\\Project\\Data\\Crimes_Circa_2022_final2.csv', encoding='utf-8', index=False)